# Base de données PostgreSQL Neon
DATABASE_URL=

# Authentification / sessions
AUTH_SECRET=

# Compte Super Admin initial
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Clé serveur Supabase (uniquement côté serveur, jamais exposée au frontend)
SUPABASE_SECRET_KEY=
